@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<h1 class="text-2xl font-bold mb-4 text-gray-100">@ViewData["Title"]</h1>
<div class="text-gray-100">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
   


