@{
    ViewData["Title"] = "";
}

<h1 class="text-center privacy-policy">PRIVACY POLICY</h1>

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Capstone.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Privacy.css" asp-append-version="true" />




<section id="privacy" class="text-center">
    <br> 
    <br> 
    <h2>TERMS OF USE</h2>
</section>

<p>
    Silver Screen Cinemas Terms of Use (these Terms)

    This website (the Site) is operated by The Silver Screen Cinemas Corporation Pty Ltd ABN 31 006 082 551 (Silver Screen Cinemas).

    This Site is made available solely for access from places in New Zealand and to users located in, or ordinarily resident in, New Zealand.

    The following Terms govern your use of this Site and any order or purchase of any product, service, merchandise or ticket (Product) from this Site. Your access to and use of the Site is conditional on acceptance of these Terms. Use of the Site indicates your acceptance of these Terms and Conditions. You are not authorised to access or use the Site if you do not accept these Terms and Conditions.

    Who May Use This Site

    Children under the age of 16 may not purchase any Product on this Site. If you are under the age of 16 and would like to purchase a Product on this Site, please ask your parent or guardian for permission to assist you in this.

    Access and Use

    You must not use this Site in any manner or for any purpose which is unlawful or contrary to any of these Terms.

    Silver Screen Cinemas reserves the right to reject in its absolute discretion any order you place to purchase a Product, or to deny access to this Site, for any conduct that Silver Screen Cinemas, in its sole discretion, believes may breach the law, these Terms, violate the rights of Silver Screen Cinemas or third parties, or is otherwise inappropriate for continued access and use of the Site.

   
</p>
<br/>
<br/> 
<section id="privacy" class="text-center">
<h2> INTELLECTUAL PROPERTY</h2>
</section>
<p>
    Intellectual Property

    Content on this Site, such as graphics, logos and film clips, information, text, material, software or advertisements, (Content) is protected by New Zealand and international copyright and trademark law.

    Content on the Site must not be modified, copied, reproduced, republished, framed, uploaded to a third party, posted, transmitted or distributed in any way except as expressly provided for on the Site, or as expressly authorised in writing by Silver Screen Cinemas or its affiliates, or as permitted by the Copyright Act. Strictly on the condition that you keep the content intact and in the same form as presented on the network, you may use the content for your personal and non-commercial use.

    The Silver Screen Cinemas logo and name are trademarks of Silver Screen Cinemas, and may not be used as part of your business or in connection with any goods or services without the prior written consent of Silver Screen Cinemas.

    Your Personal Information and Privacy

    Silver Screen Cinemas’ Privacy Policy (available HERE), as may be amended from time to time and incorporated herein by reference, forms part of these Terms, and includes important information about how we may collect, hold, retain, use and disclose personal information about you gathered in the course of your use of this Site or purchase of any Product from this Site. By using this Site, submitting content to this Site, or purchasing or using any Product from this Site, you consent to Silver Screen Cinemas collecting, holding, retaining, using and disclosing your personal information in accordance with these Terms and the Privacy Policy, including for direct marketing purposes.

    Sale of Tickets

    Tickets are also made available subject to the classification of the relevant film given by the Office of Film and Literature Classification. By purchasing a ticket, you represent that you (and any persons for whom you purchase a ticket) are of an age permitted to purchase a ticket pursuant to the relevant classification for the film. Silver Screen Cinemas reserves the right to request proof of age identification before permitting entry into films based on their classification, and refuse entry to you if you are not legally entitled entry to the film. Unless otherwise stated all transactions are denoted in New Zealand dollars.
</p>
