/*body {
    
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: white;
    
}

#navbar {
    background-color: #000807;
    color: red;
}

header {
    height: 140px;
}

footer {
    background-color: #000807;
    height: auto;
    margin-bottom: 0;
    color:white;
}

#bars {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

main {
    min-height: calc(100vh - 280px);
}

#contact-container {
    display: flex;
    align-items: center;
}

#image-container {
    flex: 0 0 auto;
    margin-right: 20px;
}

#form-container {
    flex: 1 1 auto;
}

#form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
   
}

#form-group input,
.form-group textarea {
    width: 100%;
}*/